services:
  app:
    build: .
    container_name: khalif_api
    restart: unless-stopped  # <-- UBAH KE INI (Biar gak auto-start kalau abis dimatiin)
    ports:
      - "8082:8082"
    env_file:
      - .env
    environment:
      - DATABASE_URL=host=db user=postgres password=postgres dbname=khalif_db port=5432 sslmode=disable
      - REDIS_ADDR=redis:6379
    depends_on:
      - db
      - redis

  ml_engine:
    build: ../khalif-algorythm-py
    container_name: khalif_ml
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=postgres
      - DB_NAME=khalif_db
    depends_on:
      - db
    restart: "no" # <-- TETAP INI (Karena dia cuma jalan sebentar lalu mati)

  db:
    image: postgres:15-alpine
    container_name: khalif_db
    restart: unless-stopped  # <-- UBAH KE INI
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: khalif_db
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: khalif_redis
    restart: unless-stopped  # <-- UBAH KE INI
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: