version: '3.8'

services:
  app:
    build: .
    container_name: khalif_api
    restart: no
    ports:
      - "8082:8082"
    env_file:
      - .env
    environment:
      # PENTING:
      # host diganti jadi 'khalif_db' (nama container di infra)
      # port diganti jadi '5432' (port internal container)
      - DATABASE_URL=postgres://postgres:postgres@khalif_db:5432/khalif_db?sslmode=disable
      
      # host diganti jadi 'khalif_redis'
      - REDIS_ADDR=khalif_redis:6379
    networks:
      - khalif_net

# Gunakan network eksternal yang dibuat oleh khalif-infra
networks:
  khalif_net:
    external: true
    name: khalif_network